/* ============================== *\
 * Contact
\* ============================== */

.form__fieldset
  border 1px solid color-gray-light
  margin 0
  padding 0 1rem

.form__legend
  padding .25rem

.form__group
  margin 1rem 0

.form__label
  display block
  padding .5rem 0

.form__input
  border 1px solid color-gray-light
  display block
  padding .5rem
  width 100%
