/* ============================== *\
 * Home
\* ============================== */

.site-logo
  height 60px
  position absolute
  top 60px
  left 60px
  transition all .4s linear

.site-title,
.site-subtitle
  border none
  color #fff
  letter-spacing -1px
  margin 0
  text-align center

.site-title
  font-size 4rem
  font-weight 700
  text-shadow 5px 5px 5px #111

.site-title a
  color #fff
  text-decoration none
  &:hover
    text-decoration underline

.site-subtitle
  font-family font-mono
