/* ============================== *\
 * Code Highlighter
\* ============================== */

code,
pre
  -webkit-font-smoothing initial
  -moz-font-smoothing grayscale

pre
  background #f5f5f5
  border-left 2px solid color-primary
  overflow auto
  padding 1em
  white-space pre-wrap
