/* ============================== *\
 * Typography
\* ============================== */

body
  font-family "Open Sans", sans-serif
  font-size 16px
  font-weight 300
  line-height 1.5

h1
  border-bottom #ccc solid 1px
  font-size 48px
  font-weight 300
  margin 2rem 0 1rem 0
  padding 1rem 0

h2
  border-bottom #ccc solid 1px
  font-size 32px
  font-weight 300
  margin 1.5rem 0 1rem 0
  padding .5rem 0

h3
  border-bottom #ccc solid 1px
  display inline-block
  font-weight 300
  margin 1rem 0 1rem 0
  padding .5rem 0

pre,
code
  font-family "Fira Mono", monospace
