/* ============================== *\
 * Article
\* ============================== */

.article__h2
  border-bottom 2px solid #6272a4
  display inline
  font-size 1.75rem
  margin 0
  padding 0
  &:hover
    color #6272a4

.article__h3
  border-bottom 2px solid #6272a4
  color #6272a4
  display inline
  font-size 1.25rem
  margin 0
  padding 0
