/* ============================== *\
 * Author info
\* ============================== */

.author__thumb
  border-radius 50%
  height 50px

.author__name
  color: #111
  font-weight bold
  line-height 50px
  margin 0 .5rem
  text-decoration none

  &:hover
    text-decoration underline
