/* ============================== *\
 * Site footer
\* ============================== */

.footer
  border-top 2px solid color-gray-light
  color color-disqus-gray
  font-size 14px
  margin-top 2rem
  padding 1rem 0
  text-align center
