/* ============================== *\
 * Pagination
\* ============================== */
.pagination
  margin 2rem 0 1rem 0

.pagination__nav
  display block
  text-align center

.pagination__btn
  margin 0 1rem
  padding .5rem
  text-decoration none
  text-transform capitalize

  &:hover
    border-bottom 2px solid

.pagination__btn--prev
  color color-primary

  &:before
    content "<"

.pagination__btn--next
  color color-background

  &:after
    content ">"
