/* ============================== *\
 * Post snippet
\* ============================== */

.post-snippet__title
  border none
  font-size 1.75rem
  margin 0
  padding: 0

.post-snippet__link
  color #111
  text-decoration none
