/* ============================== *\
 * Post snippet
\* ============================== */

.post-snippet
  padding 1rem 0 3rem 0

.post-snippet__title
  border-bottom 2px solid #6272a4
  display inline
  font-size 1.75rem
  margin 0
  padding 0

.post-snippet__link
  color #111
  text-decoration none

  &:hover
    color #6272a4

.post-snippet__read-more
  color color-black
  margin .5rem 0
  padding .25rem 0
  text-decoration none

  &:hover
    border-bottom 2px solid #6272a4
    color #6272a4

.post-snippet__footer
  align-items center
  display flex
  padding-top .5rem
