<%- partial('_partial/head') %>
<body>
  <div class="row">
    <div class="half half--left">
      <div class="content">
        <h1 class="site-title">Cassio Cardoso</h1>
        <h2 class="site-subtitle">Front-end Engineer</h2>
        <%- partial('_partial/social-icons') %>
      </div> <!-- /.content -->
    </div> <!-- /.half -->

    <div class="half half--right">
      <div class="content">
        <%- partial('_partial/post-snippet') %>
      </div> <!-- /.content -->
    </div> <!-- /.half -->
  </div> <!-- /.row -->
  <%- partial('_partial/footer') %>
</body>
</html>
