<div class="half half--left">
  <div class="content">
    <h1 class="site-title">Thank you!</h1>
    <%- partial('_partial/social-icons') %>
  </div> <!-- /.content -->
</div> <!-- /.half -->

<div class="half half--right">
  <div class="content">
    <%- partial('_partial/nav') %>
    <p>Thanks for reaching out.</p>
    <p>I can't give you an exact timetable to answer you message, but
      I guarantee I'll do it as soon as possible.</p>
    <p>If it's something urgent you can ping me at
      <a href="https://twitter.com/cassiocardoso">Twitter</a> or
      <a href="https://telegram.me/cassiocardoso">Telegram</a>.
    </p>
  </div> <!-- /.content -->
</div> <!-- /.half -->
