// Colors
color-black = #333
color-gray = #999
color-gray-light = #e3e3e3
// Color scheme
color-primary = #6272a4

// Dragula theme colors
color-background = #282a36
color-currentLine = #44475a
color-selection = #44475a
color-foreground = #f8f8f2
color-comment = #6272a4
color-cyan = #8be9fd
color-green = #50fa7b
color-orange = #ffb86c
color-pink = #ff79c6
color-purple = #bd93f9
color-red = #f55
color-yellow = #f1fa8c

// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"
