/* ============================== *\
 * Col
\* ============================== */

// Half column layout
.half--left,
.half--right
  overflow auto
  height auto

.half--left
  width 50%
  background linear-gradient(rgba(44,45,51, .25), rgba(44,45,51, .75)), url("/images/laptop_bg275.jpg") no-repeat
  background-size cover

.half--right
  flex 1

// Half column content
.half .content
  margin 0 auto
  padding 60px
  max-width 800px
