/* ============================== *\
 * Col
\* ============================== */


// Half column layout
.half--left,
.half--right
  overflow auto
  height auto

.half--left
  background linear-gradient(rgba(44,45,51, .25), rgba(44,45,51, .75)), url("/images/laptop_bg275.jpg") no-repeat
  background-size cover
  display flex
  flex-direction column
  justify-content center
  width 100%

  @media screen and (min-width: 1024px) {
    width 50%
  }

.half--right
  flex 1

// Half column content
.half .content
  margin 0 auto
  padding 60px
  max-width 800px
