/* ============================== *\
 * Row
\* ============================== */

.row
  display block
  height auto

  @media screen and (min-width: 1024px) {
    backface-visibility hidden
    display flex
    height 100vh
    overflow hidden
    will-change overflow
  }
