/* ============================== *\
 * Button
\* ============================== */

.btn__primary
  background-color color-primary
  border none
  color #fff
  cursor pointer
  display block
  padding .5rem 1rem
  width 100%
