/* ============================== *\
 * Social icons
\* ============================== */

.social-icons
  display block
  list-style none
  margin 1rem 0
  padding 0
  text-align center

.social-icon
  display inline-block

.social-icon__link
  color white
  font-size 32px
  margin .25rem
  padding .5rem
  text-decoration none
  transition all .4s linear

  &:hover
    opacity .5
