/* ============================== *\
 * Social sharer
\* ============================== */

.share__section
  margin-top 1rem

.share__buttons
  display flex
  justify-content flex-start
  list-style none
  margin 0
  padding 0

.share__title
  color #fff
  font-weight 400
  letter-spacing 1px
  margin 0
  text-shadow 2px 2px 2px #111

.share__button
  display inline
  padding .5rem
  transition all .4s ease-in-out
  &:hover
    transform scale(1.1)

.share__button a
  text-decoration none

.share-buttons .sr-only
  position absolute
  clip rect(1px 1px 1px 1px)
  clip rect(1px, 1px, 1px, 1px)
  padding 0
  border 0
  height 1px
  width 1px
  overflow hidden
