<section class="share__section">
  <h3 class="share__title">Share this post:</h3>
  <ul class="share__buttons">
    <li class="share__button">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcassio.rocks&t="
        title="Share on Facebook"
        target="_blank"
        onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">
        <img alt="Share on Facebook" src="/images/sharer/facebook.png">
      </a>
    </li>
    <li class="share__button">
      <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcassio.rocks&text=:%20http%3A%2F%2Fcassio.rocks&via=cassiocardoso"
        target="_blank"
        title="Tweet"
        onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
        <img alt="Tweet" src="/images/sharer/twitter.png">
      </a>
    </li>
    <li class="share__button">
      <a href="https://plus.google.com/share?url=http%3A%2F%2Fcassio.rocks"
        target="_blank"
        title="Share on Google+"
        onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;">
        <img alt="Share on Google+" src="/images/sharer/googleplus.png">
      </a>
    </li>
    <li class="share__button">
      <a href="https://getpocket.com/save?url=http%3A%2F%2Fcassio.rocks&title="
        target="_blank"
        title="Add to Pocket"
        onclick="window.open('https://getpocket.com/save?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
        <img alt="Add to Pocket" src="/images/sharer/pocket.png">
      </a>
    </li>
    <li class="share__button">
      <a href="http://www.reddit.com/submit?url=http%3A%2F%2Fcassio.rocks&title="
        target="_blank"
        title="Submit to Reddit"
        onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
        <img alt="Submit to Reddit" src="/images/sharer/reddit.png">
      </a>
    </li>
    <li class="share__button">
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fcassio.rocks&title=&summary=&source=http%3A%2F%2Fcassio.rocks"
        target="_blank"
        title="Share on LinkedIn"
        onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
        <img alt="Share on LinkedIn" src="/images/sharer/linkedin.png">
      </a>
    </li>
    <li class="share__button">
      <a href="mailto:?subject=&body=:%20http%3A%2F%2Fcassio.rocks"
        target="_blank"
        title="Send email"
        onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;">
        <img alt="Send email" src="/images/sharer/email.png">
      </a>
    </li>
  </ul>
</section>
