<ul class="social-icons">
  <li class="social-icon">
    <a href="#" class="social-icon__link">Facebook</a>
  </li>
  <li class="social-icon">
    <a href="#" class="social-icon__link">Twitter</a>
  </li>
  <li class="social-icon">
    <a href="#" class="social-icon__link">Instagram</a>
  </li>
  <li class="social-icon">
    <a href="#" class="social-icon__link">LinkedIn</a>
  </li>
  <li class="social-icon">
    <a href="#" class="social-icon__link devicons devicons-github_badge"></a>
  </li>
</ul> <!-- /.social-icons -->
